.shop-container {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.products-container{
    margin: 50px 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-gap: 25px;
}

.order-summery-container{
    height: 100%;
}